<!--This is the about page-->
<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">About</h1>
    <div class="buttons">
      <button class="button button-light" ng-click="cancelAbout()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img src ="img/sked.jpg" id="profile-image">
          <p>App built as an example for demonstrating many features of the Ionic Framework. Built by Barry Mc Gettigan for his final year project.</p>
            <h3>Projects Used</h3>
                  <ul>
                    <li><a href="http://ionicframework.com">Ionic Framework</a></li>
                    <li><a href="http://angularjs.org">AngularJS</a></li>
                    <li><a href="https://angular-ui.github.io/ui-router">AngularUI ui-router</a></li>
                    <li><a href="https://cordova.apache.org">Cordova</a></li>
                    <li><a href="https://www.firebase.com/">Firebase</a></li>
                  </ul>
        </div>
  </ion-content>
</ion-modal-view>
