<ion-view title="Profile" ng-controller = "HomeCtrl" hide-tabs='true'>
  <ion-nav-buttons side="right">
     <button class="button button-clear" ng-click="logout()">
       Log out
     </button>
   </ion-nav-buttons>
<ion-content has-header="true">
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <!--<img ng-src="{{auth.profile.picture}}" id="profile-image" >-->
          <img src ="img/sked.jpg" id="profile-image">
          <h3 id="profile-name"><span ng-bind = "auth.profile.name"></span></h2>
          <p id="profile-description"><span ng-bind = "auth.profile.email"></span></p>
        </div>
        <div class="list">
                <label class="item item-input field-disabled">
                    <span class="input-label">Email</span>
                    <input ng-model="auth.profile.email" type="text" placeholder="user@gmail.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input ng-model="auth.profile.name" type="text" placeholder="Name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Country</span>
                    <input ng-model="user.country" type="text" placeholder="IRELAND">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input ng-model="user.phone" type="text" placeholder="085 - 2536684">
                </label>
                <label class="item item-input em-gender">
                    <span class="input-label">Gender</span>
                    <ion-checkbox class="em-gender-cb" ng-model="isMale" ng-change="isMale ? user.gender='M' : user.gender = 'F';
                        isFemale = false" ng-checked="user.gender === 'M'">Male</ion-checkbox>
                    <ion-checkbox class="em-gender-cb" ng-model="isFemale" ng-change="isFemale ? user.gender='F' : user.gender = 'M';
                        isMale = false" ng-checked="user.gender === 'F'">Female</ion-checkbox>
                </label>

            </div>
      </div>
    </ion-content>
</ion-view>
