<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Invite Friends</h1>
    <button class="button button-clear" ng-click="hideModal()">Close</button>
  </ion-header-bar>
<ion-content>
  <div style="height: 60px;"></div>
    <div class="card">
        <div class="item item-text-wrap">
          <p>Who would you like to invite?</p>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
              </div>
              <button class="button button-block button-positive" ng-click="showModal1()">
                Save
              </button>
          </div>
      </div>
</ion-content>
</ion-modal-view>
