<ion-modal-view>
  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-energized" ng-click="cancelPreview()">Cancel</button>
    </div>
    <h1 class="title">Preview Order</h1>
    <div class="buttons">
      <button class="button button-energized" ng-if="order.items.length"  ng-model="order" ng-click="sendOrder()" action="submit">Submit</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div style="height: 60px;"></div>
    <form name="myform" ng-submit="addOrder(order)">
    <ion-list>
      <ion-item ng-if="!order.items.length" class="item-divider">No items</ion-item>
      <ion-item ng-repeat="item in order.items" >
        {{item.item}} <span class="item-note">{{item.price | currency:"€" }}
        <ion-option-button class="button-assertive" ng-click="remove($index)">Remove</ion-option-button>
      </ion-item>
    </ion-list>
  </form>
</ion-modal-view>
