<!--This is the reservation page-->
<ion-view title="Make a Reservation" hide-tabs='true' ng-controller="ReservationController">
        <ion-nav-buttons side="right">
          <button class="ion-document-text button icon button-clear" ng-click="openModal()"></button>
        </ion-nav-buttons>
<ion-content has-header="true" padding="true">
          <div style="height: 60px;"></div>
              <p>{{description}}</p>
              <div class="list">
                  <label class="item item-input">
                      <span class="input-label"><p>First Name:</p></span>
                        <input type="text" ng-model="user.Name" placeholder="Name">
                  </label>
                  <label class="item item-input">
                      <span class="input-label"><p>Age:</p></span>
                        <input type="text" ng-model="user.Age" placeholder="Age">
                  </label>
                  <label class="item item-input">
                      <span class="input-label"><p>Contact:</p></span>
                        <input type="text" ng-model="user.contactnumber" placeholder="Your Number">
                  </label>
                  <label class="item item-input">
                      <span class="input-label"><p>Email:</p></span>
                        <input type="email" ng-model="user.bookeremail" placeholder="Your email">
                  </label>
                  <ionic-datepicker idate="currentDate">
                      <button class="button button-block button-energized" ng-model="user.Date">{{ currentDate | date:'dd - MMMM - yyyy' }} </button>
                  </ionic-datepicker>
                  <label class="item item-input item-select">
                      <div class="input-label">
                          <p>Music</p>
                      </div>
                          <select ng-model="user.entertainment">
                            <option>Band</option>
                            <option selected>DJ</option>
                            <option>Other</option>
                          </select>
                  </label>
                  <label class="item item-input item-select">
                        <div class="input-label">
                            <p>Type</p>
                        </div>
                          <select ng-model="user.type">
                              <option>18th</option>
                              <option selected>21st</option>
                              <option>30th</option>
                              <option>Anniversary</option>
                              <option>Other</option>
                          </select>
                  </label>
                  <label class="item item-input item-select">
                      <div class="input-label">
                          <p>Food</p>
                      </div>
                        <select ng-model="user.food">
                              <option>Yes</option>
                              <option selected>No</option>
                      </select>
                  </label>
                  <ul class="list">
                    <ion-toggle ng-repeat="item in settingsList"
                                ng-model="item.checked"
                                ng-checked="item.checked">
                                            <p>{{ item.text }}</p>
                    </ion-toggle>
                  </ul>
                  <div class="item">
                      <div class="item-label">
                        <p>How many people do yo expect?<p></div>
                  </div>
                  <div class="item range range-assertive">
                      <i class="icon ion-ios7-person-outline"></i>
                          <input type="range" ng-model="user.people" name="people" min="1" max="100">
                      <i class="icon ion-ios7-person"></i><br/>
                              Total:{{user.people}}
                  </div>
                  <div class="item">
                        <div class="item-label"><p>Anything else required?</p></div>
                  </div>
                  <div class="item item-input">
                        <textarea name="extras" ng-model="user.extras" rows="3" placeholder="We require....">{{user.extras}}</textarea>
                  </div>
              </div>
    </ion-content>
</ion-view>
