<ion-view title=" Our Staff" hide-tabs='true'>
  <ion-content has-header="true" padding="true">
    <div style="height: 60px;"></div>
     <div class="list">
         <a class="item item-avatar" href="#/tab/staffcontent">
           <img src="img/white.png" />
           <h2 class="h2">Paul White</h2>
           <p>Chest of chaws</p>
         </a>
         <a class="item item-avatar" href="#/tab/staffcontent">
           <img src="img/matt.jpg" />
           <h2 class="h2">Matt Forkin</h2>
           <p>Paul Blart mall cop</p>
         </a>
         <a class="item item-avatar" href="#/tab/staffcontent">
           <img src="img/ross.jpg" />
           <h2 class="h2">Ross Kavanagh</h2>
           <p>How can I help you?</p>
         </a>
         <a class="item item-avatar" href="#/tab/staffcontent">
           <img src="img/foley.jpg" />
           <h2 class="h2">John Foley</h2>
           <p>Doing the paperwork!!!</p>
         </a>
         <a class="item item-avatar" href="#/tab/staffcontent">
           <img src="img/parle.png" />
           <h2 class="h2">Juan Parle</h2>
           <p>Si senor!!</p>
         </a>

     </div>
   </ion-content>



</ion-view>
