<ion-view title=" Our Staff" hide-tabs='true'>
  <ion-content has-header="true" padding="true">
    <div style="height: 60px;"></div>
     <div class="list">
         <a class="item item-avatar" href="#/tab/food">
           <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Zachary_Quinto_2011.jpg/200px-Zachary_Quinto_2011.jpg" />
           <h2 class="h2">Paul White</h2>
           <p>Chest of chaws</p>
         </a>
         <a class="item item-avatar" href="#/menu/chat-single">
           <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg/129px-Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg" />
           <h2 class="h2">Matt Forkin</h2>
           <p>Paul Blart mall cop</p>
         </a>
         <a class="item item-avatar" href="#/menu/chat-single">
           <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Evan_Peters_by_Gage_Skidmore.jpg/165px-Evan_Peters_by_Gage_Skidmore.jpg" />
           <h2 class="h2">Barry Ryan</h2>
           <p>Lovin the long weekend Whoop!! Whoop!!</p>
         </a>

     </div>
   </ion-content>



</ion-view>
