<ion-view title="Welcome" id="tour" hide-back-button="true">
  <ion-nav-buttons side="right">
    <a class="button button-light" href="#tab/home" nav-clear>Start</a>
  </ion-nav-buttons>
  <ion-slide-box>
    <ion-slide>
      <span class="icon icon-slide ion-document-text"></span>
      <h3>Reserve a Table</h3>
    </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-calendar"></span>
      <h3>View upcoming events</h3>
    </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-beer"></span>
      <h3>Have Fun!!!</h3>
    </ion-slide>
  </ion-slide-box>

</ion-view>
