<ion-view title="Welcome" id ="tour" hide-back-button="true" hide-nav-bar="true" ng-controller = "TourCtrl">

  <ion-slide-box>

  <ion-slide>
          <span class="icon icon-slide ion-beer positive"></span></a>
           <h1 style="color: white;text-align: center;">Craft Beer Bar</h1>

  </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-document-text positive"></span>
      <h1 style="color: #FFF;text-align: center;">Reserve your party</h1>
         <p class="tagline">Book your party with us now.</p>
    </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-calendar positive"></span>
      <h1 style="color: #FFF;text-align: center;">View Events</h1>
         <p class="tagline">Check out all the free entertainement we have lined up.</p>
    </ion-slide>
  </ion-slide-box>
  <ion-footer-bar align-title="left" class="bar-clear">
  <h1 class="title"></h1>
  <div class="buttons" ng-click="login1()">
    <button class="button button-positive">Get Started</button>
  </div>
</ion-footer-bar>
</ion-view>
