<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Craft Beer Application</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!--<script src="lib/angular-cookies/angular-cookies.js"></script>-->
    <script src="lib/auth0-angular/build/auth0-angular.js"></script>
    <script src="lib/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="lib/angular-jwt/dist/angular-jwt.js"></script>
    <script src="lib/auth0-lock/build/auth0-lock.js"></script>
    <!--Firebase -->
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/auth0-variables.js"></script>
    <script src="js/app.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>

<!--start of the application-->
<body ng-app="starter" animation="slide-left-right-ios7">
<!--This the start of the side menus functionality-->
<ion-side-menus>
        <ion-side-menu-content ng-controller="NavCtrl">
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
              </button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
              </button>
            </ion-nav-buttons>-->
          </ion-nav-bar>
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-energized">
            <h1 class="title">Craft Beer App</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ion-list>
            <ion-item href="#/tab/home" class="item-icon-left" menu-close><i class="icon ion-home"></i> Home</ion-item>
            <ion-item href="#/tab/food" class="item-icon-left" menu-close><i class="icon ion-beer"></i> Order</ion-item>
            <ion-item href="#/tab/browse" class="item-icon-left" menu-close><i class="icon ion-search"></i>Menu</ion-item>
            <ion-item href="#/tab/events" class="item-icon-left" menu-close><i class="icon ion-music-note"></i>Events</ion-item>
            <ion-item href="#/tab/images" class="item-icon-left" menu-close><i class="icon ion-calendar"></i>Gallery</ion-item>
            <ion-item href="#/tab/review" class="item-icon-left" menu-close> <i class="icon ion-star"></i>Review</ion-item>
            <ion-item href="#/about" class="item-icon-left" menu-close> <i class="icon ion-ios7-information"></i> About</ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>
      <!--  <ion-side-menu side="right">
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Right Menu</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/search">Search</a>
              </li>
              <li>
                <a class="item" menu-close nav-clear href="#/settings">Settings</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>-->
      </ion-side-menus>
<!--End of the side menus-->
<!--Tabs at the bottom of the apps page-->
<script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">
      <!--Home tab-->
      <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
          <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>
      <!-- Help Tab -->
      <ion-tab title="About" icon="ion-information-circled" href="#/tab/about">
          <ion-nav-view name="tab-about"></ion-nav-view>
      </ion-tab>
      <!-- Account Tab -->
      <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
          <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
</script>
<!--End of tabs page-->
<!--Start of the home page-->
<script type="text/ng-template" id="templates/home.html">
  <ion-view title="Home" hide-back-button="true">
  <ion-content class="padding">
  <div class="card">
        <div class="item item-divider">Welcome to the Craft Beer Store</div>
        <div class="item item-text-wrap">
          We hope you enjoy our delicious variety of craft beers! Browse our menu to find
          the perfect drink for you. Warning, some of our drinks contain high levels of alcohol.
          Check out below the free entertainment that is happening today.
        </div>
      </div>
      <!--<div class="card">
        <div class="item item-divider">Current Weather</div>
        <div class="item" ng-if="!weather"><span class="icon ion-loading-d"></span></div>
        <div class="item item-text-wrap">
          <p>Currently {{weather.main.temp}}&deg;F and {{weather.weather[0].description}}.</p>
        </div>
        <a class="item button button-positive button-block" href="#/weather">See Forecast</a>
      </div>-->

      <div class="card">
        <div class="item item-divider">Todays Events</div>
        <div class="item" ng-if="!today"><span class="icon ion-loading-d"></span></div>
        <div class="item" ng-repeat="item in today.events">{{item.event}}, {{item.time}}</div>
        <a class="item button button-positive button-block" href="#/tab/events">See all events</a>
      </div>

      <div class="card">
        <div class="item item-icon-left" ng-click="openComments()">
          <i class="icon ion-chatbubble"></i> Send us a comment
        </div>
      </div>
    </ion-content>
</ion-view>
</script>
<!--End of home page-->
<!--Start of the browse menu page-->
<script id="templates/browse.html" type="text/ng-template">
    <ion-view title="Menu">
      <ion-content class="padding">
        <div class="list">
          <a class="item item-thumbnail-left" a href="#tab/beers">
            <img src="img/beer1.jpg">
              <h2>Beers</h2>
                <p>Check out our fine selection</p>
          </a>
          <a class="item item-thumbnail-left" a href="#tab/ciders">
            <img src="img/cider2.jpg">
              <h2>Ciders</h2>
                <p>Made from the freshest apples</p>
          </a>
          <a class="item item-thumbnail-left" href="#">
            <img src="img/stout.jpg">
              <h2>Stouts</h2>
                <p>Tastiest around</p>
          </a>
          <a class="item item-thumbnail-left" href="#">
            <img src="img/cocktail2.jpg">
              <h2>Cocktails</h2>
                <p>Party on!!</p>
          </a>
          <a class="item item-thumbnail-left" href="#">
            <img src="img/coffee.jpg">
              <h2>Coffees</h2>
                <p>Delicious and cheap</p>
          </a>
          <a class="item item-thumbnail-left" a href="#tab/sandwiches">
            <img src="img/sandwich.jpg">
              <h2>Sandwiches</h2>
                <p>Try our delicious range</p>
          </a>
        </div>
     </ion-content>
</ion-view>
</script>
<!--End of browse menu page-->
<!--Start of the beers page-->
<script id="templates/beers.html" type="text/ng-template">
    <ion-view title="Beers">
        <ion-content class="padding">
     <div class="list">
          <a class="item item-avatar" a href="#tab/baltika">
              <img src="img/baltika.jpg">
                <h2>Baltika</h2>
                  <p>€3.99</p>
          </a>
          <a class="item item-avatar" a href="#tab/dungarvan">
              <img src="img/dun.jpg">
                <h2>Dungarvan Copper Coast Red</h2>
                  <p>€3.39</p>
          </a>
          <a class="item item-avatar" a href="#tab/bohemian">
              <img src="img/bare.jpg">
                <h2>Barefoot Bohemian</h2>
                  <p>€2.29</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/abbey.jpg">
                <h2>Abbey Irish Pale Ale</h2>
                  <p>€3.39</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/curim.jpg">
                <h2>Curim Wheat Beer</h2>
                  <p>€3.09</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/dungarven.jpg">
                <h2>Dungarvan Mine head</h2>
                  <p>€3.49</p>
          </a>
          </div>
    </ion-content>
</ion-view>
</script>
<!--End of beers list page-->
<!--This is ciders items page-->
<script id="templates/ciders.html" type="text/ng-template">
    <ion-view title="Ciders">
    <ion-content class="padding">
     <div class="list">
 <a class="item item-avatar" a href="#tab/bulmers">
      <img src="img/bulmers.jpg">
    <h2>Bulmers</h2>
      <p>€3.99</p>
  </a>
  <a class="item item-avatar" a href="#tab/strongbow">
      <img src="img/strongbow.jpg">
    <h2>Strongbow</h2>
      <p>€2.50</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/bare.jpg">
      <h2>Barefoot Bohemian</h2>
        <p>€2.29</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/abbey.jpg">
      <h2>Abbey Irish Pale Ale</h2>
        <p>€3.39</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/curim.jpg">
      <h2>Curim Wheat Beer</h2>
        <p>€3.09</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/dungarven.jpg">
      <h2>Dungarvan Mine head</h2>
        <p>€3.49</p>
    </a>
</div>
        </ion-content>
      </ion-view>
    </script>
<!--End of ciders page-->
<!--This is the sandwiches items page-->
<script id="templates/sandwiches.html" type="text/ng-template">
    <ion-view title="Sandwiches">
    <ion-content class="padding">
     <div class="list">
 <a class="item item-avatar" a href ="#tab/club">
      <img src="img/club.jpg">
    <h2>Club</h2>
      <p>€3.59</p>
  </a>
  <a class="item item-avatar" a href ="#tab/blt">
      <img src="img/blt.jpg">
    <h2>BLT</h2>
      <p>€2.99</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/turk.jpg">
      <h2>Turkey Melt</h2>
        <p>€4.29</p>
    </a>
  <a class="item item-avatar" href="#">
    <img src="img/bagel.jpg">
      <h2>Bagels</h2>
        <p>€3.39</p>
    </a>
</div>
        </ion-content>
      </ion-view>
    </script>
<!--This is the end of the sandwiches page-->
<!--This is the start of the baltika page-->
<script type="text/ng-template" id="templates/baltika.html">
    <ion-view title="Baltika">
      <ion-content padding="true">
          <div class="list card">
            <div class="item item-avatar">
                <img src="img/baltika.jpg">
                    <h2>Baltika Beer</h2>
                      <p>Brewed in Russia, 1994</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/baltika1.jpg">
                <p>Baltika is a "Dark Beer" and comes in at 5.6% alcohol by volume.
                The flavor is toward the sweet side, with a malty character matched
                to a big body and culminating in a dry finish.</p>
                <div class="item item-toggle">
                  {{vm.following ? "Following" : "Not Following"}}
                    <label class="toggle toggle-energized">
                      <input type="checkbox" ng-model="vm.following">
                        <div class="track">
                          <div class="handle"></div>
                        </div>
                    </lablel>
                </div>
            </div>
           <div class="item tabs tabs-secondary tabs-icon-left" ng-controller="BaltikaCtrl">
              <a class="tab-item" href="#tab/food">
                <i class="icon ion-beer"></i>
                  Order Now
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-link"></i>
                  Website
              </a>
              <a class="tab-item" ng-click="openModal()">
                <i class="icon ion-images"></i>
                  Images
              </a>
          </div>
        </div>

      </ion-content>
    </ion-view>
</script>
<!--End of baltika page-->
<!--Start of baltika image page-->
<script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent"
                   ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)"
                               show-pager="false">
                  <ion-slide ng-repeat="oImage in aImages">
                    <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                    <p class="info">{{oImage.msg}}</p>
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>
<!--End of Baltika image page-->
<!--This the dungarven Beer page -->
<script type="text/ng-template" id="templates/dungarvan.html">
    <ion-view title="Dungarvan">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/baltika.jpg">
      <h2>Dungarvan Beer</h2>
        <p>Brewed in Ireland, 2002</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/dun2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
  <a class="tab-item" href="#tab/order">
    <i class="icon ion-beer"></i>
      Order Now
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-link"></i>
      Website
  </a>
  <a class="tab-item" href="#tab/dungarvenimg">
    <i class="icon ion-images"></i>
      Images
  </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--End of dungarven page-->
<!--This is the dungarven images page-->
<script id="templates/dungarvenimg.html" type="text/ng-template">
  <ion-view title="Images">
  <ion-content class="has-header padding" ng-controller="MediaCtrl2">
    <div class="card">
      <div class="item item-divider">
        <b>Blt</b>
    </div>
    <div class="item item-text-wrap">
      Try our delicious Dungarvan beer
    </div>
    </div>

<div class="item item-divider">
    <i class="ion-images"></i>
      My Images
</div>
<a class="item item-list-detail">
    <ion-scroll direction="x">
        <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
    </ion-scroll>
</a>
<br><br>

<div class="button-bar">
  <button class="button button-outline button-positive" ng-click="playVideo()">Play a video</button>
</div>
</ion-content>
    </ion-view>
</script>
<!--End of dungarven images page-->
<!--This the Bohemian Beer page -->
<script type="text/ng-template" id="templates/bohemian.html">
    <ion-view title="Bohemian">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/bare.jpg">
      <h2>Bohemian Beer</h2>
        <p>This beer is currently unavaialble</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/bohemian2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
    Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
    Comment
    </a>
    <a class="tab-item" href="index2.html">
      <i class="icon ion-search"></i>
    Find
    </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--End of Bohemian page-->
<!--This the bulmers page -->
<script type="text/ng-template" id="templates/bulmers.html">
    <ion-view title="Bulmers">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/bulmers.jpg">
      <h2>Bulmers</h2>
        <p>It may not be craft but its a classic</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/bulmers2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
    Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
    Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
    Share
    </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--This is the end of the bulmers page-->
<!--This the strongbow page -->
<script type="text/ng-template" id="templates/strongbow.html">
    <ion-view title="Strongbow">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/strongbow.jpg">
      <h2>Strongbow</h2>
        <p>It is ridiculously cheap</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/strongbow2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
    Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
    Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
    Share
    </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--End of strongbow page-->
<!--This the club sandwich page -->
<script type="text/ng-template" id="templates/club.html">
    <ion-view title="Club">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/club.jpg">
      <h2>Club Sandwich</h2>
        <p>Absolutely delish</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/club2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
    Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
    Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
    Share
    </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--End of club sandwich page-->
<!--This the blt sandwich page -->
<script type="text/ng-template" id="templates/blt.html">
    <ion-view title="BLT">
      <ion-content padding="true">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/blt.jpg">
      <h2>BLT Sandwich</h2>
        <p>Goes great with a pint</p>
    </div>
  <div class="item item-body">
    <img class="full-image" src="img/blt2.jpg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus molestie, pretium tortor ut, pellentesque sem.
    Sed mattis auctor mauris.
    <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
    Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
    Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
    Share
    </a>
  </div>
</div>
<div class="item item-toggle">
  <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
    <label class="toggle toggle-energized">
      <input type="checkbox" ng-model="vm.following">
        <div class="track">
          <div class="handle"></div>
        </div>
    </lablel>
</div>
      </ion-content>
    </ion-view>
</script>
<!--End of the blt page-->
<!--This is
the Images page -->
<script type="text/ng-template" id="templates/images.html">
    <ion-view title="Gallery">
        <ion-content class="has-header padding" ng-controller="MediaCtrl">


      <div class="item item-divider">
          <i class="ion-images"></i>
            My Images
      </div>
      <a class="item item-list-detail">
          <ion-scroll direction="x">
              <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
          </ion-scroll>
      </a>
      <a class="item item-list-detail">
          <ion-scroll direction="x">
              <img ng-repeat="image in allImages1" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
          </ion-scroll>
      </a>
      <a class="item item-list-detail">
          <ion-scroll direction="x">
              <img ng-repeat="image in allImages2" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
          </ion-scroll>
      </a>
      <br><br>

      <div class="button-bar">
        <button class="button button-outline button-positive" ng-click="playVideo()">Play a video</button>
      </div>

      <div class="button-bar">
      <a class="button button-full button-positive" href="#tab/food">Order</a>
      </div>
    </ion-content>
</ion-view>
</script>
<!--End of images page-->
<!--Review page-->
<script type="text/ng-template" id="templates/review.html">
<ion-view title="Review">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="card">
  <div class="item item-divider">
    <b>Welcome</b>
  </div>
  <div class="item item-text-wrap">
    Welcome to our review page. If you like what you swipe righy, otherwise swope left!!!
  </div>
</div>
     <ion-pane ng-controller="CardsCtrl">
          <td-cards>
              <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
                  <div class="title">
                      {{card.title}}
                  </div>
                  <div class="image">
                      <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
                      <img ng-src="{{card.image}}">
                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
                  </div>
              </td-card>
          </td-cards>
      </ion-pane>
  </ion-view>

</script>
<!--login page-->
<script id="login.html" type="text/ng-template">
  <ion-view title="Login">
    <ion-content>
    </ion-content>
    </ion-view>
</script>
<!--End of login page-->

<!--Events page-->
<script id="templates/events.html" type="text/ng-template">
<ion-view title="Upcoming Events">
  <ion-content>
    <ul class="list">
      <span ng-repeat="day in events">
      <li class="item item-divider">{{day.day}}</li>
      <li class="item" ng-repeat="event in day.events">
        <h2>{{event.event}}</h2>
        <p>{{event.time}}, {{event.location}}</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
</script>
<!--End of events page-->
<!--This is the order page-->
<script id="templates/food.html" type="text/ng-template">
  <ion-view title="Place your Order" class="room-service">
<ion-nav-buttons side="right">
  <button class="button button-light" ng-click="openPreview()">Preview</button>
</ion-nav-buttons>
<ion-footer-bar align-title="left" class="bar-positive">
  <h1 class="title">Total: {{order.total | currency:"€"}}, Items {{order.items.length}}</h1>
</ion-footer-bar>
<ion-content>
<ion-list>
  <span ng-repeat="course in menu">
  <ion-item class="item-divider">{{course.meal}}</ion-item>
  <ion-item ng-repeat="item in course.items">
    {{item.item}} <span class="item-note">{{item.price | currency:"€"}}
    <ion-option-button class="button-energized" ng-click="add(item)">Order</ion-option-button>
  </ion-item>
  </span>
</ion-list>
</ion-content>
</ion-view>
</script>
<!--This is the end of the order page-->
<script src='lib/move/move.min.js'></script>
  </body>
</html>
